<section class="post mb-4">
  <section class="post-title">
    <h1 class="font-weight-bold text-uppercase">
      {{post.title}}
    </h1>
  </section>

  <section class="post-body">
    <div class="pre-body">
      <p>{{post.content}}</p>

      <img [src]="post.imgSrc" class="img-fluid mb-2"/>

      <!-- Este iframa está ubicado aquí solo para probar imágenes dentro de este marco -->
      <!--
      <iframe src="https://via.placeholder.com/2000x500/333333/444444" class="mb-2">
      </iframe>
      -->
    </div>

    <div class="continue-reading pt-1 pb-3" *ngIf="!showMore">
      <a href="#" routerLink="/post/{{post.id}}" class="text-uppercase font-weight-bold">
        Seguir leyendo <i class="fas fa-angle-double-right"></i>
      </a>
    </div>

    <div *ngIf="showMore">
      <p>{{post.moreContent}}</p>

      <div class="mb-2">
        <youtube-player [videoId]="post.youtubeVideoId" width="100%">
        </youtube-player>
      </div>

      <app-paragraph-lorem-ipsum></app-paragraph-lorem-ipsum>

      <img src="assets/img/img007.jpg" class="img-fluid mb-2" />

      <app-paragraph-lorem-ipsum></app-paragraph-lorem-ipsum>

      <hr />

      <!-- Footer -->
      <section class="post-footer">
        <p>Aquí va el footer del post</p>
      </section>
    </div>
  </section>

  <section class="post-meta">
    <hr />

    <!-- Tags -->
    <app-post-tags [tags]="post.tags"></app-post-tags>

    <!-- Fila de datos meta -->
    <div
      class="d-flex flex-column flex-lg-row justify-content-center justify-content-lg-between align-items-start align-items-lg-center">
      <div>Publicado el [día] [numero] de [mes] de [año]</div>
      <div>
        <a href="#">
          <i class="fas fa-heart fa-fw"></i>
        </a>
      </div>
    </div>

    <hr />
  </section>

  <section class="post-interactions" *ngIf="showMore">
    <!-- Comentarios -->
    <app-post-comments></app-post-comments>

    <hr />

    <!-- Notas-->
    <app-post-notes></app-post-notes>
  </section>
</section>
