<h1 class="text-uppercase mb-3">Acerca de</h1>

<p>Hola. Si recién vienes llegando a este blog, te cuento sobre él.</p>

<p>Este blog está pensado como una bitácora de lo que he hecho. Qué he escuchado, visto y jugado recientemente. Como hay veces en que necesito expresarme sobre eso más allá que solo decir "Estuve escuchando X" o "Estuve jugando Y", y me da lata escribir hilos en redes sociales, es que prefiero usar un blog completito para ello.</p>

<p>Si estoy publicando algo aquí, es porque tengo ganas de compartir eso. Puede ser un podcast, una serie, una película, o un juego. En cualquiera de todos esos casos, es que además tengo ganas de hablar de ello.</p>

<p>Además, necesito algo alternativo para hacer aparte de quedarme encerrado en la casa por la pandemia.</p>

<p>Cualquier cosa que me quieras comentar, la puedes dirigir a <strong>cealcuadrado[at]outlook.com</strong>, o directamente me puedes contactar en mis redes sociales, cuyos links deben estar por ahí en algún lado de este layout.</p>

<p>Y eso es todo en esta sección. Lo más importante de este lugar son los posts del blog, así que adelante, mi casa es su casa. </p>
