<div class="social-networks">
  <a href="#">
    <i class="fab fa-lg fa-twitter fa-fw"></i>
  </a>
  <a href="#">
    <i class="fab fa-lg fa-youtube fa-fw"></i>
  </a>
  <a href="#">
    <i class="fab fa-lg fa-soundcloud fa-fw"></i>
  </a>
  <a href="#">
    <i class="fab fa-lg fa-github fa-fw"></i>
  </a>
</div>
<div class="d-flex flex-column">
  <small><i class="fas fa-envelope fa-fw"></i> cealcuadrado[at]outlook.com</small>
  <small>CeAlCuadrado, &#169; {{currentDate.getFullYear()}}</small>
</div>

